<strong>Olá ({{ name }})!!</strong>

<p>Sua bet no jogo {{ type }} foi realizada com sucesso! </p>
<p>seus números são {{ numbers }} </p>
<p>R$ {{ price }} </p>

<p> Fique de olho no resultado!! </p>
